<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login App</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <nav>
            <ul class="nav nav-pills">
                <a class="nav-link" href="/">Dashboard</a>
                <a class="nav-link" href="/users/login">Login</a>
                <a class="nav-link" href="/users/register">Register</a>
                <a class="nav-link" href="/users/logout">Logout</a>

            </ul>
        </nav>
        <div class="row">
            <dib class="col-lg-12">
                {{{body}}}
            </dib>
        </div>
    </div>
</body>
</html>
